.button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 8px;
  transition: background-color 0.2s;

  white-space: nowrap; // запрещает перенос текста
  overflow: hidden; // скрывает выходящий за пределы контент
  text-overflow: ellipsis; // добавляет многоточие, если текст не помещается
  max-width: 100%; // ограничивает ширину рамками родителя

  &:hover {
    background-color: #2980b9;
  }

  &:last-child {
    margin-right: 0;
  }
}
